.favorite-locations-container{
    grid-row: 1;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 0.5;
    font-size: 3.2rem;
    font-weight: 700;
}
.favorite-locations{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;

}
.location-item{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.315);
    font-size: 1.4rem;
}
.active{
    background-color: #108ee9;
    color: white;
}