.current-weather-details{

    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.315);
    gap: 1.5rem 1rem;
   
    grid-row: 6;
    grid-column: span 4;
}
.current-weather-details div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-weather-details div label{
    color: black;
}
.current-weather-details div span{
    font-weight: 600;
}
@media screen and (min-width:600px) {
  
  .current-weather-details{
    grid-row: 5;
  }
}