
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.current-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column:span 4;
  grid-row: 5;
  padding: 1rem;
}
.icon {
  height: 14rem;
}
.current-temp {
  font-size: 6.4rem;
  font-weight: 700;
  letter-spacing: -0.5rem;
}
.current-temp span {
  font-size: 3.2rem;
}
.feels-like {
  font-size: 1.4rem;
  color: #757575;
}
.feels-like span {
  font-size: 1.4rem;
}
.description {
  font-size: 1.4rem;
}

@media screen and (min-width:600px) {
  .current-weather{

    grid-column: span 2;
  }
  
}